body {
	background-color: #6db0f0;
}

h1 {
	text-align: center;
}

p {
	font-size: 18px;
	text-align: center;
}

#wrapper {
	width: 550px;
	margin: auto;
	padding: 0;
}

#ship-wrapper {
	width: 155px;
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
}

#ship-wrapper img {
	display: inline-block;
	cursor: move;
}

#ship-wrapper p {
	font-size: 12px;
	text-align: left;
}

#rotate {
	width: 110px;
	height: 45px;
	margin-left: 375px;
	font-size: 18px;
	background-color: #54a3ee;
	text-align: center;
	border: 1px solid black;
	border-radius: 25px;
	cursor: pointer;
}

#game-starter {
	width: 300px;
	height: 25px;
	margin: auto;
	margin-top: 25px;
	font-size: 22px;
	background-color: #3B7ADB;
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	display: inline-block;
	margin-right: 10px;
}

td, th {
	border: 1px solid black;
	padding: 0;
	width: 30px;
	height: 30px;
	font-size: 18px;
}

td {
	background-color: #3B7ADB;
	text-align: center;
}

td img {
	float: right;
	margin: 0 0 0 0;
}

td img.rotate90 {
	float: right;
	margin: 0 0 0 0;
}

.over {
	background-color: #6db3f2;
}

.forbidden {
	background-color: red;
}

.vertical {
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.diagonal {
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #6db3f2 0%, #54a3ee 70%, #3690f0 71%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6db3f2), color-stop(70%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #6db3f2 0%,#54a3ee 70%,#3690f0 71%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #6db3f2 0%,#54a3ee 70%,#3690f0 71%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #6db3f2 0%,#54a3ee 70%,#3690f0 71%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(135deg,  #6db3f2 0%,#54a3ee 70%,#3690f0 71%,#1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.horizonal {background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(left,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(to right,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 */
}

.hover, #game-starter.hover {
	background-color: #1e69de;
}

#rotate.hover {
	background-color: #3B7ADB;
}

body:after {
	content: url(ships/aircraft_carrier.png);
	display: none;
}

.hide {
	display: none;
}

#ship-wrapper img.used {
	opacity: 0.5;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

.rotate90 {
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	position: relative;
}

p .ship0.rotate90 { left: 100px; }
p .ship1.rotate90 { left: 85px; }
p .ship2.rotate90 { left: 70px; }
p .ship3.rotate90 { left: 45px; }
p .ship4.rotate90 { left: 40px; }
p .ship5.rotate90 { left: 20px; }

.hit:after {
	content: "X";
	font-size: 20px;
	font-family: Arial;
	font-weight: bolder;
	color: red;
}

.no-hit:after {
	content: "O";
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #BFCDF5;
}

.ai-no-hit:after {
	content: "O";
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #BFCDF5;
}